 :root{
   --heart-color-off: #101010;
    --heart_color_on: pink;
 }

body
{
    background-color: #000000;
}
div{
  color: white;
  font-family: monospace;
}

.additional_text{
  font-family: 'Rubik One', sans-serif;
  display: table;
  margin: 0.3em auto;

  text-align: center;
  font-weight: 600;
  font-size: 60px;
}

#clock{
  display: table;
  margin: 50px auto;
  color: #EEEEEE;
  font-family: 'Rubik One', sans-serif;
  font-weight: 600;
  font-size: 140px;
}

.clock_div{
  position: relative;
  margin: 0 auto;
  text-align: center;
  height: 0px;
  width: 0px;
}

#goHomeText
{
  font-family: 'Rubik One', sans-serif;
  font-size: 120px;
  background: linear-gradient(45deg, orange 33%, red );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
